auto-py-to-exe>=2.46.0
eventlet>=0.39.1
Flask-Admin>=1.6.1
flask-babel>=4.0.0
Flask-SocketIO>=5.5.1
Flask-SQLAlchemy>=3.1.1
Flask-WTF>=1.2.2
keyboard>=0.13.5
lxml>=5.4.0
openpyxl>=3.1.5
pandas>=2.2.3
pillow>=11.2.1
pip>=23.2.1
psutil>=7.0.0
psycopg2-binary>=2.9.10
pydantic>=1.10.21
pynput>=1.8.1
pyperclip>=1.8.2
pypinyin>=0.54.0
PySide6>=6.8.3
qrcode>=8.2
websockets>=11.0.3
wheel>=0.41.2
XlsxWriter>=3.2.3
PyYAML>=6.0.2