/* 自定义按钮样式 */
.custom-btn {
    font-size: 14px;
    padding: 10px 16px;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    line-height: 1.2;
    white-space: nowrap;
    min-width: 80px; /* 确保按钮最小宽度一致 */
}

.custom-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.custom-btn:active {
    opacity: 1;
}

.btn-primary.custom-btn {
    background-color: #007bff;
    color: white;
    border: none;
}

.btn-secondary.custom-btn {
    background-color: #6c757d;
    color: white;
    border: none;
}

.btn-success.custom-btn {
    background-color: #28a745;
    color: white;
    border: none;
}

.btn-info.custom-btn {
    background-color: #17a2b8;
    color: white;
    border: none;
}

.btn-warning.custom-btn {
    background-color: #ffc107;
    color: white;
    border: none;
}

.btn-danger.custom-btn {
    background-color: #dc3545;
    color: white;
    border: none;
}

.custom-btn i {
    margin-right: 5px;
}

/* 调整表格样式 */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
}

thead {
    background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table .text-end {
    text-align: right;
}

.table-responsive {
    overflow-x: auto;
}

.page-link {
    font-size: 14px;
    padding: 8px 16px;
}

.page-item.disabled .page-link {
    background-color: #e9ecef;
    cursor: not-allowed;
}

/* 增加复选框的大小 */
.custom-checkbox .form-check-input {
    width: 24px; /* 设置你希望的宽度 */
    height: 24px; /* 设置你希望的高度 */
}

.custom-checkbox .form-check-input:checked {
    background-color: #007bff; /* 调整选中状态的背景颜色 */
    border-color: #007bff; /* 调整选中状态的边框颜色 */
}

.custom-checkbox .form-check-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25); /* 调整焦点状态的阴影 */
}