{% extends "base.html" %}
{% block title %}更新剪贴板项{% endblock %}
{% block header %}更新剪贴板项{% endblock %}
{% block content %}
    <form action="" method="post" class="w-50">
        <div class="mb-3">
            <label for="content" class="form-label">内容:</label>
            <textarea id="content" name="content" class="form-control" rows="5">{{ item.content }}</textarea>
        </div>
        <div class="mb-3">
            <label for="tags" class="form-label">标签（以逗号分隔）:</label>
            <input type="text" id="tags" name="tags" class="form-control" value="{{ item.tags }}">
        </div>
        <a href="{{ url_for('clipboard_list') }}" class="btn btn-secondary">返回</a>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
{% endblock %}