{% extends 'admin/model/list.html' %}

{% block list_header scoped %}
    <!-- 调试信息 -->
{#    <p>Debug: list_header block is being rendered</p>#}
    {{ super() }}
    <!-- 添加搜索框 -->
    {% if admin_view.can_search %}
        <div class="row mb-3">
            <div class="col-sm-6">
                <form method="get" action="{{ request.path }}" class="form-inline">
                    <div class="input-group">
                        <input type="text" name="search" value="{{ request.args.get('search', '') }}"
                               class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary">搜索</button>
                        </span>
                        <!-- 导入按钮 -->
                        <div style="float: right; margin-left: 10px;">
                            <a href="{{ import_url }}" class="btn btn-primary">
                                <i class="glyphicon glyphicon-import"></i> 导入
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock %}